@import "tailwindcss";

:root {
  --background: #191414;
  --foreground: #ededed;

  /* Theme Variables - Default (Green) */
  --color-theme-primary: #054020;
  --color-theme-primary-rgb: 5, 64, 32;
  --color-theme-background: #000000;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Utility class for theme background */
.bg-theme-background {
  background-color: var(--color-theme-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
